{
    "client_id": "YOUR_CLIENT_ID",
    "redirect_uri": "https://spotify-callback-omega.vercel.app/"
     //replace with your own redirect uri if you have one or you can use the above one
     //Delete the comment lines after you have modified this file
}